<div class="d-flex justify-content-center">
  <div class="row">
    <div class="column-bookings">
      <h1>Your Character Bookings</h1>
      <br>
        <% @mycharacters.each do |character| %>
          <% character.bookings.each do |booking| %>
            <div class="card-booking">
              <%= cl_image_tag(character.photo.key) %>
              <div class="card-booking-infos">
                <h2><%= character.name %></h2>
                <p><strong>From: </strong> <%= booking.start_date %> <strong></p>
                <p> To:</strong> <%= booking.end_date %></p>
                <p><strong>Status:</strong> <%= booking.status %></p>
              </div>
              <% if booking.status != "declined" %>
              <div class="actions">
                <h6><%= link_to "Accept",  character_booking_accept_path(character, booking), method: :post%> </h6>
                <br>
                <h6><%= link_to "Decline",  character_booking_decline_path(character, booking), method: :post%></h6>
              </div>
              <% else %>
              <div class="actions">
                <h6><%= link_to "Delete",  character_booking_decline_path(character, booking), method: :post%></h6>
              </div>
              <% end %>
            </div>
            <br>
          <% end %>
        <% end %>
    </div>
  

    <div class="column-bookings">
      <h1>Your bookings</h1>
      <br>
      <% if @bookings.empty? %>
        <p>You haven't booked any characters yet.</p>
        <%= link_to "Find one now", root_path %>
      <% else %>
        <% @bookings.each do |booking| %>
          <div class="card-booking">
            <%= cl_image_tag(booking.character.photo.key) %>
            <div class="card-booking-infos">
              <h2>Character: <%= booking.character.name %></h2>
              <p><strong> From: </strong> <%= booking.start_date %> <strong></p>
              <p> To:</strong> <%= booking.end_date %></p>
              <p><strong>Status:</strong> <%= booking.status %></p>
            </div>
            <div class="actions">
              <h6><%= link_to "Cancel",
                        booking_path(booking),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
              </h6>
            </div>
          </div>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  var find = document.querySelectorAll(".card-booking") 
  console.log(find)

  find.forEach(function(item) {
    if(item.innerHTML.indexOf("declined") !== -1) {
    item.classList.add("declined")
    } else if(item.innerHTML.indexOf("accepted") !== -1) {
    item.classList.add("accepted")
  }
  });

  
</script>









