
<div class="container">
  <div>
    <h1>Book <%= @character.name %></h1>
    <br>
    <%= simple_form_for [ @character, @booking] do |f| %>
      <%= f.input :start_date, as: :string, input_html: { class: "flatpickr" } %>
      <%= f.input :end_date, as: :string, input_html: { class: "flatpickr" } %><%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

