<div class="container">

<div class="banner-index d-flex justify-content-between">
  <div class="banner-content">
    <h1>Rent a Fictional Character!</h1>
  </div>
  <div>
    <%= link_to "Add a character", new_character_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
<br>

  <div>
    <%= form_tag characters_path, method: :get do %>
      <%= text_field_tag :search_by_name_and_genre,
        params[:search_by_name_and_genre],
        class: "form-control",
        placeholder: "Enter character name or genre"%>
  </div>

  <div>
  <br>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>


  <br>
  <h1>Available characters</h1>
  <br>
  <div class="cards">
    <% @characters.each do |character| %>
      <% if current_user %>
        <%= link_to character_path(character) do %>
          <div class="card-character">
              <%= cl_image_tag(character.photo.key) %>


              <div class="card-character-infos">
                <div>
                  <h2><%= character.name %></h2>
                  <p><%= character.genre %></p>
                  <p>Price: <%= character.price %> €</p>
                </div>
              </div>
          </div>
        <% end %>
      <% else %>
      <%= link_to character_path(character) do %>
        <div class="card-character">

            <%= cl_image_tag(character.photo.key) %>
            <div class="card-character-infos">
              <div>
                <h2><%= character.name %></h2>
                <p><%= character.genre %></p>
                <p>Price: <%= character.price %></p>
              </div>
            </div>

        </div>
        <% end %>
      <% end %>
      <% end %>

  </div>
</div>



