<div class="container">

  <h1><%= @character.name %></h1>
  <%# <%= link_to "Back to all fictional character overview", root_path %>
  <%#= link_to "Choose a date", new_character_booking_path(@character) %>

  <div class="row">
    <div class="col-12 picture">
      <%= cl_image_tag @character.photo.key %>
    </div>
  </div>
  <div class="row margin-top">
    <div class="col-12">
      <div class="flat-show-card">
        <p class="character-show-genre">Genre: <%= @character.genre %></p>
      </div>
    </div>
    <div class="col-12">
      <div class="flat-show-card">
        <p class="character-show-price">Price: <%= @character.price %>€</p>
      </div>
    </div>
    <div class="col-12">
      <div class="flat-show-card">
        <p class="character-show-description">Description: <%= @character.description %></p>
      </div>
    </div>
   <div class="row">
    <div class="col-12">
      <div class="character-show-card">
<%#         <h5>Book this character!</h5>

        <form action="">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">From:</span>
            <input type="text" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-addon" id="basic-addon1">To:</span>
            <input type="text" class="form-control" placeholder="18/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form>
      </div>
    </div>
  </div> %>
  <div class="d-flex">
    <div class= "m-3">
      <p> <%= link_to "Book now", new_character_booking_path(@character) %> </p>
    </div>
    <div class= "m-3">
      <%= link_to "Back", root_path %>
    </div>
  </div>
</div>
